*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.container{

    min-width: 1000px;
    width: 900px;

}

.container-forms{
    width: 300px;
    height: 420px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.863);
    border-radius: 10px;
    border-top-right-radius: 40px;
}

.container-header-navigtion-form{
    display: flex;
    justify-content: space-between;

}

.navigation-item{
    width: 50%;
    text-align: center;
    cursor: pointer;

}

.rightRadious{
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
}



.leftRadious{
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
}

.selected{
    background-color: rgb(8, 8, 8);
    color: white;
}

.form-group{
    margin: 10px;
}

.form-design{
    width: 80%;
    margin: 0 auto;
   

}

.container-body-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.form-control{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.btn{
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 15px;
} 

.btn-send{
    background-color:  rgb(8, 8, 8);
} 

.btn-block{
    width: 100%;
}

.text-center{
    text-align: center;
    

}

.imgnike{
    text-align: center;
    margin-top: 10px;
   
}

#alert {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
}

.m-0{
    margin: 0;

}

.success{
    background-color: blueviolet;
}

.Error {
    background-color: rgb(243, 70, 70);
}

.charger{
    border-top: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: .5s infinite ease-in;
}

@Keyframes chargeAnime {
    to {
        transform: rotate(360deg);
        border-color: aqua;
    }
}