* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:link {

    text-decoration: none;
}

a {
    color: inherit;
}



.menumobile {
    
    display: none;
}

.menu {

    display: flex;
    justify-content: space-between;
    text-decoration: none;
    max-width: 100%;


}

.submenu0 {

    display: flex;
    padding: 0px;
    margin-left: 45px;
    margin-top: 10px;
    max-width: 100%;

}

.submenu0 li {
    color: #8D8D8D;
    padding-right: 62px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.submenu0 img {

    height: 20px;
    max-width: 32px;
    width: 100%;
    object-fit: contain;
    top: -2px;
    position: relative;
    opacity: .5;
    max-width: 100%;
}

.submenu1 {

    display: flex;
    padding: 14px;
    margin-right: -17px;
    max-width: 100%;

}

.submenu1 li {
    color: #8D8D8D;
    display: flex;
    padding-right: 35px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;


}


.menu2 {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    margin-left:10 px;
    width: 100%;
   
    max-width: 100%;
    max-width: 100%;
}

.menunike img {
    width: 100px;
    margin-top: -15px;
    max-width: 100%;

}

.submenu {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    max-width: 100%;


}

.submenu li {
    color: #111111;
    display: flex;
    padding-right: 30px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    max-width: 100%;

}


.menupesquisa {
    display: flex;
    border: solid;
    height: 20px;
    margin-right: 23px;
    padding: 8px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8D8D8D;
    max-width: 100%;
}


.menupesquisa img {

    margin-left: 15px;
    width: 17px;
    height: 17px;
    max-width: 100%;
}

.menupesquisa input {

    height: 17px;
    margin-left: 12px;
    border: none !important;
    max-width: 100%;

}


.seta {

    transform: translateX(35%);
    width: 757px;
    height: 30px;
    max-width: 100%;
}

.seta li {
    margin-right: 185px;
}

.submenuseta {

    display: flex;


}

.submenu3 {
    width: 307px;

    padding-top: 5px;
}
.foto {

   padding: 40px;

}

.foto img {

    width:100%;
    

}



.setaesquerda  {

    width: 10px;
    margin-left: 50px;
    margin-right: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #080808;
    
}

.frete {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

    width: 300x;
    height: 30px;

    text-align: center;
}

.frete img {

    width: 37px;
    
}

.setadireita {

    width: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #131212;
    margin-left: 0px;
    margin-right: -150px;

}

.semana {
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 3, 3);
    padding: 20px;
    margin-top: -65px;
    margin-left: 172px;
    height: 15px;
    text-align: center;
    

    
}




@media(max-width:768px) { 

    .menumobile {
    
        display: block;
        
        

    }

    .logo {

    
    position: relative;
    top: -60px;
    left: 550px;
    width: 500px;
        
        
    }
    .logo img{
        width: 125px;
        
    }

    .carrinho {

        
        position: absolute;
    top: 0px;
    left: 1125px;
        
        margin-top: 20px;
        
    }

    .carrinho img{
        width: 30px;
        
    }

    label{
        font-size: 45px;
        margin-left: 20px;
        
    }

    .menupesquisamob{
        display: block;
        
        
    }

    .menupesquisamob {
        display: flex;
        border: solid;
        height: 40px;
        margin-top: -60px;
        
        margin-left: 25px;
        padding: 8px;
        border-width: 1px;
        border-radius: 3px;
        border-color: #8D8D8D;
        width: 1120px;
        
        
    }

 
    
    
    .menupesquisamob img {
    
        margin-left: 15px;
        width: 17px;
        height: 17px;
        max-width: 100%;
        margin-top: 10px;
    }
    
    .menupesquisamob input {
    
        height: 17px;
        margin-left: 12px;
        border: none !important;
        max-width: 100%;
        margin-top: 10px;
        font-size: 20px;
    
    }
    

   .menu {

       display: none;
       
   }

   
   .menu2 {

    display: none;
}

.seta {

    
    
}

.frete1{

    display: none;
}

.submenuseta{

    background-color: black;
    width: 1200px;
    height: 70px;
    margin-left: -280px;
    

}

.frete{
    width: 1000px;
}
.submenu3 {
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #ffffff;
    width: 450px;
    height: 100px;
   
    margin-left: 150px;
    margin-top: 20px;
    
    
}




.setaesquerda  {

    width: 30px;
    
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color:#ffffff;
    margin-top: 20px;
}

.setadireita {

    width: 10px;
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #ffffff;
    margin-left: 120px;
    margin-top: 20px;
}

.foto {

    display: table;
  width: 100%;
  height: 100%;
  width: 1000px;
  text-align: center;
  margin-left: 50px;
  margin-top: 180px;
  
 
 }
 
 .semana {
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 3, 3);
    padding: 20px;
    margin-top: -65px;
    
    height: 15px;
    text-align: center;
    
    width: 900px;
    

    
}
 
    
     
 
 


}


