*,
*::before,
*::after{
    box-sizing: border-box;
    
}

body{
   
    display: flex ;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.signup{
    justify-content: left;
    min-width: 400px;
    width: 250px;
    width: 300px;
    height: 250px;
    margin: 100auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.863);
    border-radius: 10px;
    border-top-right-radius: 40px;
    border: solid;

}

.login{
    justify-content: right;
    min-width: 400px;
    width: 250px;
    width: 300px;
    height: 250px;
    margin: 100auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.863);
    border-radius: 10px;
    border-top-left-radius: 40px;
    border: solid;

}

.imgnike{
    border: solid;
    width: 25px;
    left: 50px;
    padding-top: 5px;
    margin: 30auto;
    min-width: 380px;
    margin-top: 50;
    background-color: blueviolet;
}



@Keyframes chargeAnime {
    to {
        transform: rotate(360deg);
        border-color: aqua;
    }
}